<div class="login-container">
    <mat-card class="login-card">
      <h2>{{ role | titlecase }} Login</h2>
  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          <mat-error *ngIf="loginForm.get('email')?.invalid">Valid email required</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
          <mat-error *ngIf="loginForm.get('password')?.invalid">Min 4 characters</mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
      </form>
  
      <!-- <div class="register-link">
        <span>Don't have an account?</span>
        <a routerLink="/register">Register</a>
      </div> -->
    </mat-card>
  </div>
  