.register-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  
  .register-card {
    width: 450px;
    padding: 30px;
    text-align: center;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 20px;
  }
  