<h2 mat-dialog-title>All Accounts</h2>

<div mat-dialog-content>
  <table mat-table [dataSource]="accounts" class="mat-elevation-z8" style="width: 100%;">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let account">{{ account.id }}</td>
    </ng-container>

    <ng-container matColumnDef="accountNumber">
      <th mat-header-cell *matHeaderCellDef>Account #</th>
      <td mat-cell *matCellDef="let account">{{ account.accountNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="accountType">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let account">{{ account.accountType }}</td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef>Balance</th>
      <td mat-cell *matCellDef="let account">{{ account.balance }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let account">{{ account.createdAt | date:'short' }}</td>
    </ng-container>

    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef>User ID</th>
      <td mat-cell *matCellDef="let account">{{ account.userId }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let account">{{ account.accountStatus }}</td>
    </ng-container>

    <ng-container matColumnDef="remark">
      <th mat-header-cell *matHeaderCellDef>Remark</th>
      <td mat-cell *matCellDef="let account">{{ account.remark }}</td>
    </ng-container>

    <ng-container matColumnDef="managerId">
      <th mat-header-cell *matHeaderCellDef>Manager ID</th>
      <td mat-cell *matCellDef="let account">{{ account.managerId }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let account">
        <button mat-button color="primary" (click)="openUpdateStatusDialog(account.id)">Update Status</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
