<mat-toolbar color="primary" class="nav-toolbar">
  <span class="brand">🏦 Banking System</span>

  <span class="spacer"></span>

  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/about">About</a>

  <ng-container *ngIf="!authService.isLoggedIn()">
    <a mat-button routerLink="/login/user">Login</a>
    <a mat-button routerLink="/register">Register</a>
  </ng-container>

  <ng-container *ngIf="authService.isLoggedIn()">
    <button mat-button (click)="goToDashboard()">Dashboard</button>
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>
</mat-toolbar>
