.transaction-container {
  padding: 20px;

  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: none;
  overflow: hidden;
  margin: 24px auto;
  background-color: #e0f7fa; /* Light blue to test */
  border: 2px dashed #0288d1; /* Outline */
}

.responsive-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 150%;
  table-layout: auto;
  border-collapse: collapse;
}

mat-header-cell, mat-cell {
  padding: 12px;
  font-size: 14px;
  text-align: center;
  white-space: normal; 
  word-break: break-word; 
  min-width: 120px;
}
mat-header-cell:nth-child(4),
mat-cell:nth-child(4),
mat-header-cell:nth-child(5),
mat-cell:nth-child(5),
mat-header-cell:nth-child(6),
mat-cell:nth-child(6) {
  min-width: 160px;
  word-break: break-word;
  white-space: normal;
}

