.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  mat-card {
    width: 400px;
    padding: 30px;
    text-align: center;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 20px;
  }
  